---
import { LicensePricing } from '@ag-website-shared/components/license-pricing/LicensePricing';
import PageHero from '@ag-website-shared/components/page-hero/PageHero.astro';
import Layout from '@layouts/Layout.astro';
import { urlWithBaseUrl } from '@utils/urlWithBaseUrl';
---

<Layout
    title="AG Grid: Licence and Pricing"
    description="View licence and pricing details for AG Grid. Compare features in AG Grid Community vs. Enterprise. Purchase AG Grid Bundle for a discount Grid & Charts licences."
    showSearchBar={true}
    showDocsNav={false}
    showMicrosoftMessage={true}
>
    <PageHero
        eyebrow="Licensing and Sales"
        headline="Pricing"
        subhead="Whether you are a startup, global enterprise or somewhere in between, AG Grid & AG Charts deliver best in class value."
    >
        <a class="button" href="#pricing">See our pricing</a>
    </PageHero>
    <LicensePricing client:load defaultSelection="grid" />
</Layout>

<script is:inline defer src={urlWithBaseUrl('/scripts/license-pricing.js')}></script>
