---
import { getCollection, getEntry, type CollectionEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { DocsNavFromLocalStorage } from '@ag-website-shared/components/docs-navigation/DocsNavFromLocalStorage';
import { getDocsPages } from '../components/docs/utils/pageData';
import { Pipeline } from '@ag-website-shared/components/changelog/Pipeline';
import styles from '@ag-website-shared/components/changelog/changelog.module.scss';

export async function getStaticPaths() {
    const pages = await getCollection('docs');
    return getDocsPages(pages);
}

const pageName = 'pipeline';

const { data: docsNavData } = (await getEntry('docsNav', 'nav')) as CollectionEntry<'docsNav'>;
---

<Layout
    title={'Pipeline | AG Grid'}
    description={'Lists feature requests and bugs in our product backlog. Browse items release date, issue number or summary content'}
    showDocsNav={true}
    showSearchBar={true}
>
    <div class:list={['contentViewport layout-grid']}>
        <DocsNavFromLocalStorage client:load menuData={docsNavData} pageName={pageName} />

        <div class:list={['page-margin', styles.container]}>
            <h1>AG Grid Pipeline</h1>

            <Pipeline client:load library="grid" />
        </div>
    </div>
</Layout>
